body {
  font-family: Roboto, sans-serif;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 65;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger :hover {
  color: #1890ff;
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 100px !important;
  max-width: 100px !important;
  min-width: 100px !important;
  width: 100px !important;
}
.logo {
  background-color: #d35400;
  margin: 0;
  height: 64px;
}
.main {
  overflow-y: scroll;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 30px;
}
.ant-layout-header p {
  line-height: 20px;
}
.ant-layout-header .badge {
  top: 12px;
  right: -8px;
}
